*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-size: 10px;
  display: block;
}

.container {
  margin: 20px auto;
  width: 90%;
}

div {
  background-color: #dadada;
  float: left;
  margin: 1% 0;
  width: 100%;
  padding: 20px 25px;
}

h1 {
  font-size: 2em;
  margin: 0;
}

img {
  width: 100%;
  display: block;
}


@media screen and (min-width 501px) and (max-width: 768px) {
  body { /* tablet */
    font-size: 16px;
  }

  .container {
    margin: 20px auto;
    width: 25%;
  }

  div {
    margin: 1% 0;
    width: 100%;
    float: none;
  }

  h1 {
    font-size: 1em;
    margin: 0;
  }
}

@media screen and (min-width 769px) and (max-width: px) {
  body { /* laptop */
    font-size: 16px;
  }

  .container {
    margin: 20px auto;
    width: 25%;
    float: left;
  }

  div {
    margin: 1% 0;
    width: 25%;
    float: left;
  }

  h1 {
    font-size: 1em;
    margin: 0;
  }
}





/***
@media screen and (max-width: 500px) {
  body { //smartphone
    font-size: 12px;
  }

  .container {
    margin: 20px auto;
    width: 90%;
  }

  div {
    margin: 1%;
    width: 48%;
    float: none;
  }

  h1 {
    font-size: 2.5em;
    margin: 0;
  }
}


<section class="container">
  <h1>Modern luxury <span class="emphasis">travel</span></h1>
  <div class="preview baku">
    <h1>Baku</h1>
  </div>
  <div class="preview london">
    <h1>London</h1>
  </div>
  <div class="preview madrid">
    <h1>Madrid</h1>
  </div>
  <div class="preview rome">
    <h1>Rome</h1>
  </div>
</section>
