*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-size: 10px;
  display: block;
}

.container {
  margin: 20px auto;
  width: 100%;
}

div {
  width: 100%;
}

.preview {
  background-color: #dadada;
  float: left;
  margin: 1% 0;
  width: 90%;
  padding: 25px 25px;
  max-height: 300px;
}

.baku {
  background-image: url('../images/baku.jpg');
  background-size: cover;
  background-position: center;
}

.london {
  background-image: url('../images/london.png');
  background-size: cover;
  background-position: center;
}

.madrid {
  background-image: url('../images/madrid.jpg');
  background-size: cover;
  background-position: center;
}

.rome {
  background-image: url('../images/rome.jpg');
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 2em;
  margin: 0;
}

img {
  width: 100%;
  margin: 20px auto;
  display: inline-block;
}


@media screen and (min-width: 501px) and (max-width: 768px) {
  body { /* tablet */
    font-size: 16px;
  }

  .container {
    margin: 20px auto;
    float: left;
  }

  .preview {
    margin: 1% 0;
    width: 48%;
    float: left;
    max-height: 190px;
  }

  h1 {
    font-size: 1em;
    margin: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1600px) {
  body { /* laptop */
    font-size: 16px;
  }

  .container {
    margin: 20px auto;
    float: left;
  }

  .preview {
    margin: 1% 0;
    width: 24%;
    float: left;
  }

  h1 {
    font-size: 1em;
    margin: 0;
  }
}





/*
<section class="container">
  <h1>Modern luxury <span class="emphasis">travel</span></h1>
  <div class="preview baku">
    <h1>Baku</h1>
  </div>
  <div class="preview london">
    <h1>London</h1>
  </div>
  <div class="preview madrid">
    <h1>Madrid</h1>
  </div>
  <div class="preview rome">
    <h1>Rome</h1>
  </div>
</section>
*/
